include arcproject/scripts *.py
recursive-include arcproject/scripts *.R
recursive-include arcproject/scripts/R_postprocessing *
recursive-include arcproject/templates *
recursive-include arcproject/plots *
recursive-include arcproject/data *
recursive-include arcproject/geo *
include arcproject/wqdb.sqlite
include r_dependencies.py